<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InterviewTest">
    <test name="InterviewTest">
        <classes>
            <class name="com.hellosign.test.testng.LoginTest">
                <methods>
                    <include name="testLogin" />
                </methods>
            </class>
        </classes>
    </test>
</suite>